<div class="full-container no-margin grid">
  {{#masonry-grid items=model.photos initLayout=false percentPosition=true customLayout=true as |photo index grid|}}
    {{#masonry-item item=photo grid=grid }} 
      {{archive-photo literature=model.literature photo=photo show=(action 'showPictureModal')}}
    {{/masonry-item}}
  {{/masonry-grid}}
</div>

{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal" targetAttachment="center" translucentOverlay=true animatable=true}} 
    <div class="modal-content">
      <div class="image-quote">
        <div class="modal-left">
          <img src={{imgSrc}} alt="" onclick={{action 'showQuoteOnImage'}}>
        </div>
        <div class="modal-right">
          <div class="quote">
            <h2 id="quote"></h2>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="description">
          {{click-to-show model=model photo=currentPhoto attribute='description'}}
        </div>
        <div class="other-info">
          {{click-to-show model=model photo=currentPhoto attribute='location'}}
          {{click-to-show model=model photo=currentPhoto attribute='photographer'}}
          {{click-to-show model=model photo=currentPhoto attribute='year'}}
        </div>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}

{{site-footer}}